:root {
  --bright-blue: 220, 98%, 61%;
  --background: 235, 21%, 11%;
  --background-list: 235, 24%, 19%;
  --text: 234, 39%, 85%;
  --text-hover: 236, 33%, 92%;
  --border: 237, 14%, 26%;
  --border-2: 233, 14%, 35%;
  --dark-grayish-blue: 234, 11%, 52%;
  --check-background: linear-gradient(
    to right bottom,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
}

.light {
  --background: 236, 33%, 92%;
  --background-list: 0, 0%, 98%;
  --text: 235, 19%, 35%;
  --text-hover: 235, 19%, 35%;
  --border: 233, 11%, 84%;
  --border-2: 236, 9%, 61%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media (max-width: 37.5em) {
  html {
    font-size: 50%;
  }
}

body {
  height: 100vh;
  font-family: 'Josefin Sans', sans-serif;
  position: relative;
  background-color: hsl(var(--background));
  color: hsl(var(--text));
  background-image: url(../images/bg-desktop-dark.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

body.light {
  background-image: url(../images/bg-desktop-light.jpg);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.container {
  margin-block: auto;
  display: grid;
  row-gap: 4rem;
  width: 55rem;
}

@media (max-width: 37.5em) {
  .container {
    width: 45rem;
    padding-inline: 1.5rem;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.header__title {
  font-size: 4rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  line-height: 1;
  color: hsl(0 0% 100%);
}

.header__theme-toggle {
  width: 4rem;
  height: 3rem;
  background: transparent;
  border: 0;
  background-image: url(../images/icon-sun.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  /* transition: background 0.2s ease-in;*/
}

body.light .header__theme-toggle {
  background-image: url(../images/icon-moon.svg);
}

.todo {
  font-size: 1.8rem;
}
.todo__input {
  margin-bottom: 2rem;
  background-color: hsl(var(--background-list));
  padding: 2rem;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  box-shadow: 0 2rem 4rem 1rem hsl(0 0% 0% / 0.1);
}

.todo__input-circle {
  width: 2.64rem;
  aspect-ratio: 1;
  border: 1px solid hsl(var(--border));
  border-radius: 50%;
}

.todo__input-text {
  background-color: inherit;
  border: 0;
  color: inherit;
  font: inherit;
  width: 100%;
}
.todo__input-text:focus {
  outline: none;
}

.todo__list {
  background-color: hsl(var(--background-list));
  border-radius: 0.3rem;
  box-shadow: 0 2rem 4rem 1rem hsl(0 0% 0% / 0.1);
}

.todo__list-items {
  list-style: none;
}

@media (max-width: 37.5em) {
  .todo__list-items {
    line-height: 1.2;
  }
}

.todo__list-item {
  padding: 2rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid hsl(var(--border));
}

.todo__list-item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.todo__list-item label {
  cursor: pointer;
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 2rem;
  line-height: 1.5;
  text-decoration: line-through transparent;
  transition: text-decoration 0.1s ease-in, color 0.1s ease-in;
}

.todo__list-item span {
  width: 2.4rem;
  aspect-ratio: 1;
  border: 1px solid hsl(var(--border));
  border-radius: 50%;
  flex-shrink: 0;
}

.todo__list-item span::before {
  content: '';
  position: absolute;
  display: none;
  width: 2.2rem;
  aspect-ratio: 1;
}

@supports (
  -webkit-mask: linear-gradient(#fff 0 0) padding-box,
  linear-gradient(#fff 0 0)
) {
  .todo__list-item label:hover span::before {
    display: block;
    border-radius: inherit;
    border: 1px solid transparent;
    background: var(--check-background) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
}

.todo__list-item span::after {
  content: '';
  position: absolute;
  display: none;
}

.todo__list-item input:checked + label span {
  background: var(--check-background);
}

.todo__list-item input:checked + label span::after {
  display: block;
  width: 2.3rem;
  aspect-ratio: 1;
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 50;
}

.todo__list-item input:checked + label {
  text-decoration: line-through;
  color: hsl(var(--border-2));
}

.todo__list-item button {
  width: 2rem;
  aspect-ratio: 1;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  flex-shrink: 0;
}

@media (max-width: 37.5em) {
  .todo__list-item button {
    width: 1.5rem;
    background-image: url(../images/icon-cross.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  .todo__list-item label {
    font-size: 1.6rem;
  }
}

.todo__list-item:hover button {
  background-image: url(../images/icon-cross.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.todo__list-options {
  padding: 1.5rem 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  font-size: 1.4rem;
  font-weight: 700;
  color: hsl(var(--border-2));
}

.tabs {
  display: flex;
  gap: 1.5rem;
}

.todo__list-options button {
  background: transparent;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  transition: color 0.15s;
}

.todo__list-options button:hover {
  color: hsl(var(--text-hover));
}

.tabs > [aria-selected='true'] {
  color: hsl(var(--bright-blue));
}

.clear-btn {
  justify-self: end;
}

@media (max-width: 37.5em) {
  .todo__list-options {
    background: hsl(var(--background));
    grid-template-rows: repeat(2, 1fr);
    row-gap: 2rem;
    padding: 0;
  }

  .todo__list-options > p {
    background: hsl(var(--background-list));
    padding-block: 2.4rem;
    width: 100%;
    grid-row: 1;
    grid-column: 1 / -1;
    padding-left: 2rem;
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
  }
  .tabs {
    grid-row: 2;
    grid-column: 1 / -1;
    justify-content: center;
    font-size: 2rem;
    width: 100%;
    padding-block: 2rem;
    border-radius: 0.2rem;
    background: hsl(var(--background-list));
  }

  .clear-btn {
    grid-row: 1;
    grid-column: 3 / 4;
    padding-right: 2rem;
  }
}

.container > p {
  justify-self: center;
  font-size: 1.3rem;
  font-weight: 700;
  color: hsl(var(--border-2));
}

@media (max-width: 37.5em) {
  .container > p {
    font-size: 1.8rem;
  }
}

.attribution {
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 0.5rem;
  color: hsl(var(--border-2));
  font-weight: 700;
}
.attribution a {
  color: hsl(var(--bright-blue), 0.6);
}
